body {
  background-color: #f5f5f5;
}
.App{
  margin-top: 5rem;

}

.PostingForm {
  display: flex;
  flex-direction: column;
}

.PostingPaper {
  margin-right: 2rem;
  padding: 2rem;
}

.card {
  margin-bottom: 2rem;
}

.PostingSection{
  float: left;
  width:80%;
  height: 50rem;
}
.PostingPaper{
  height: 80%;
}
.fixed{
  position: fixed;
  width: 35%;
}
.none-fixed{
  float: right;
  width: 58%;
}
.outline-content div{
  height: 12rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1000px)  {
  .PostingSection{
    float: none;
    width:100%;
    height:30rem;
  }
  .PostingPaper {
    margin-right: 0;
    padding: 2rem;
  }
  .fixed{
    position: static;
    width: 100%;
  }
  .none-fixed{
    float: none;
    width: 100%;
  }
  .outline-content div{
    height: 6rem;
    margin-bottom: 1rem;
  }
  .ViewSection{
    width: 100%;
  }
}