
.App{
    margin: auto;
    height: 100rem;
}
.item{
    padding-top: 5rem;
    text-align: center;
    background-color: #fff;
    height: 35rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.item h2{
    font-weight: 50;
}

.comment{
    text-align: center;
    background-color: rgb(238, 238, 238);
    height: auto;
    padding-top: 3rem;
}

.comment-write{
    border: #ccc solid 2px;
    width: 80%;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.comment-view{
    margin-top: 3rem;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.item-image{
    width: 45%;
    border: #ccc solid 2px;
    height: 22rem;
    float: left;
    margin-top: 5rem;
}
.item-detail{
    width: 45%;
    border: #ccc solid 2px;
    height: 22rem;
    float: right;
    margin-left: 1%;
    margin-top: 5rem;
}

#outlined-search{
    width: 50rem;
}